
* {
margin: 0;
padding: 0;
}



header img {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        background-color:mediumvioletred;     
}



main{

    display: flex;
    flex-direction: row;
}
.menuzao{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#f2d0e0;

}

.menu{

    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu-bolos{

    background-color: white;

}


footer {
    display: flex;
    justify-content: center;
    background: mediumvioletred;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    }


